src/main/mule/samplemaventest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3499b880-f775-4350-8b97-47a07b2bd949" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="samplemaventestFlow" doc:id="a79303b1-f77c-4d48-8772-42d229e89a1c" >
		<http:listener doc:name="Listener" doc:id="7ddc1c00-1d6a-4b9c-a383-1e54ce338142" config-ref="HTTP_Listener_config" path="/Test"/>
		<set-payload value="Hello" doc:name="Set Payload" doc:id="936f5815-3980-442b-bfbb-c2b842116828" />
		<logger level="INFO" doc:name="Logger" doc:id="5faa3aa2-3123-4486-a5e7-b12ff7f363f9" message="#[payload]"/>
	</flow>
</mule>
